<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top</title>
  </head>
  <body>
    <main class="main">
      <div class="top-wrapper">
        <div class="top-detail">
          <h2 class="subtitle">Particication App</h2>
          <h1 class="title">LIST APP</h1>
          <p class="description">
            LIST APP is the service
            <br>
            Particicate the app
          </p>
          <a href="/index" class="index-button">一覧を見る</a>
        </div>
        <div class="top-image">
          <img src="/" alt="">
        </div>
      </div>
    </main>
  </body>
</html>