input[type="submit"] {
  display: block;
  width: 120px;
  height: 45px;
  margin-top: 24px;
  margin-left: auto;
  border-radius: 30px;
  font-size: 14px;
  background-color: #80bcff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 2px solid #80bcff;
  &:hover {
    background-color: #ffffff;
    color: #80bcff;
    transition: all 0.3s ease;
  }
}