* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #6c7686;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
  &:hover {
    transition: all 0.3s ease;
  }
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 600;
}

input {
  font-family: inherit;
  font-size: 100%;
}

/* top ================================ */
.top-wrapper {
  max-width: 1200px;
  min-width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 60px;
}

.top-detail {
  width: 36%;
  min-width: 320px;
  margin-top: -40px;
  .subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
  }
  .title {
    font-size: 54px;
    line-height: 66px;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }
  .description {
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.5px;
    margin-bottom: 40px;
  }
  
  .index-button {
    width: 184px;
    height: 48px;
    text-align: center;
    line-height: 45px;
    font-weight: 600;
    color: #42cea9;;
    background-color: #ffffff;
    border: 2px solid #58d2b2;
    border-radius: 2px;
    &:hover {
      color: #ffffff;
      background-color:  #58d2b2;
    }
  }
}

.index-button {
  cursor: pointer;
}

.top-image {
  width: 64%;
  text-align: center;
  overflow: hidden;
  img {
    width: 88%;
  }
}


/* header ================================ */
header {
  height: 56px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f4f9;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .nav-list {
    line-height: 24px;
    // float: right;
    // margin-left: 30px;
    list-style: none;
    margin-left: 40px;
    // background-color: #337079;
    &-item {
      padding: 0;
      list-style: none;
      display: inline-block;
      a {
        color: #6c7686;
        display: block;
        width: 100%;
        height: 100%;
        padding: 16px 24px;
        &:hover {
          color: #ffffff;
          background-color: #6c7686;
        }
      }
    }
}
}

.header-logo {
  margin-left: 56px;
  font-weight: 600;
  font-size: 20px;
  line-height: 56px;
  color: #6c7686;
  display: inline;
  &:hover {
    color: #58d2b2;
  }
}


/* container ================================ */
.container {
  width: 90%;
  min-width: 600px;
  max-width: 1320px;
  margin: 0 auto;
  padding-top: 72px;
}
.Index__container {
  width: 90%;
  min-width: 600px;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 72px;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  .new-button {
    background: #80bcff;
    border-radius: 30px;
    font-size: 14px;
    width: 120px;
    height: 45px;
    line-height: 43px;
    text-align: center;
    color: #ffffff;
    border: 2px solid #80bcff;
    &:hover {
      background-color: #ffffff;
      color: #80bcff;
      transition: all 0.3s ease;
    }
  }
  h1 {
    font-size: 24px;
  }
}


.cancel-button {
  margin-top: 16px;
  margin-left: 2px;
  font-weight: 600;
  color: #bac6d3;
  text-decoration: underline;
  display: inline-block;
  &:hover {
    color: #80bcff;
  }
}




/* index ================================ */
.table-head {
  display: flex;
  background-color: #b7cadc;
  border-radius: 2px 2px 0 0;
  height: 80px;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.id-column {
  width: 72px;
  text-align: center;
  margin: auto 0;
}
.name-column {
  margin: auto auto auto 0;
}
.court-column {
  width: 72px;
  text-align: center;
  margin: auto 0
}
.preliminary {
  width: 144px;
  margin: auto 0;
  text-align: center;
}
.midway {
  width: 144px;
  margin: auto 0;
  text-align: center;
}
.total {
  width: 144px;
  margin: auto 0;
  text-align: center;
}
.point-column {
  width: 72px;
  text-align: center;
  overflow-wrap: normal;
  margin: auto;
  float: left;
}
.score-column {
  width: 72px;
  text-align: center;
  margin: auto;
  float: right;
}
.rank-column {
  width: 120px;
  text-align: center;
  margin: auto 0;
}


.table-body {
  background-color: #ffffff;
  li {
    height: 50px;
    border: 1px solid #f0f4f9;
    border-top: none;
    display: flex;
    align-items: center;
    .flex-left {
      display: flex;
      justify-content: flex-start;
      .id-column {
        font-size: 16px;
        color: #bac6d3;
        width: 72px;
      }
      .name-column {
        font-size: 14px;
        font-weight: 500;
        color: #8491a5;
        margin-right: auto;
      }
    }
    .flex-right {
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
      .court-column {
        font-size: 14px;
        font-weight: 500;
        color: #8491a5;
        width: 72px;
      }
      .point-column {
        font-size: 14px;
        font-weight: 500;
        color: #8491a5;
        width: 72px;
      }
      .score-column {
        font-size: 14px;
        font-weight: 500;
        color: #8491a5;
        width: 72px;
      }
      .rank-column {
        font-size: 14px;
        font-weight: 500;
        color: #8491a5;
        width: 72px;
        margin-right: 0;
      }
    }
  }
}

.item-data {
  display: flex;
  width: 100%;
}

.item-menu {
  display: flex;
  form {
    width: 60px;
    text-align: center;
    input {
      font-size: 16px;
      color: #bac6d3;
      cursor: pointer;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 0;
      border: none;
      outline: none;
      background: transparent;
      &:hover {
        color: #ff7f8c;
        transition: all 0.3s ease;
      }
    }
  }
  a {
    width: 60px;
    font-size: 16px;
    color: #bac6d3;
    text-align: center;
    &:hover {
      color: #80bcff;
    }
  }
}

/* new, edit ================================ */
.item-form-wrapper {
  background-color: #ffffff;
  border: 1px solid #f0f4f9;
  border-radius: 0px 0px 2px 2px;
  padding: 32px;
  input[type="text"] {
    width: 100%;
    height: 40px;
    margin-top: 8px;
    padding: 12px 16px;
    background-color: #fcfcfd;
    border: 1px solid #bac6d3;
    border-radius: 2px;
    color: #2b546a;
    font-size: 12px;
  }
  input[type="submit"] {
    display: block;
    width: 120px;
    height: 45px;
    margin-top: 24px;
    margin-left: auto;
    border-radius: 30px;
    font-size: 14px;
    background-color: #80bcff;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: 2px solid #80bcff;
    &:hover {
      background-color: #ffffff;
      color: #80bcff;
      transition: all 0.3s ease;
    }
  }
}

.form-label {
  font-size: 14px;
  color: #8491a5;
}

// 対戦リスト
tr {
  height: 80px;
}
.rank-title {
  height: 80px;
}
.top-tr {
  background-color: #b7cadc;
  color: white;
  font-size: 16px;
  .team-title {
    width: 160px;
  }
}
.self-name {
  background-color: #b7cadc;
  color: blueviolet;
  font-size: 16px;
}
td {
  text-align: center;
  height: 80px;
}
.opponent-name {
  width: 160px;
  color: blueviolet;
}
.point-title {
  width: 80px;
}
.score-title {
  width: 80px;
}

table {
  margin-bottom: 72px;
}


.MatchTable__team {
  background-color: #b7cadc;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  max-width: 150px;
  border: 0;
  padding: 20px 0;
}
.SelectCourt {
  border: 0;
  width: 64px;
  color: #42cea9;
  margin-right: 16px;
  
}
.CourtNum {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  padding: 12px 16px;
  background-color: #fcfcfd;
  border: 1px solid #bac6d3;
  border-radius: 2px;
  color: #2b546a;
  font-size: 12px;
}